<ion-header>
  <ion-toolbar>
    <ion-title>
      Searchbar 
    </ion-title>
    <ion-button slot="end" color="dark" size="small" mode="ios" (ionFocus)='buttonAlert()'>Random </ion-button>
  </ion-toolbar>
  <ion-searchbar value="" animated showCancelButton cancelButtonText="Cancel" (ionChange)='getMovie($event.target.value)'>
  </ion-searchbar>

</ion-header>

<ion-content padding>
  <ion-list *ngFor="let movie of movies | async">
    
    <ion-item mode="ios" (click)="showDetails(movie)">
        <ion-label>{{ movie.title | uppercase }}</ion-label>  
    </ion-item>

  </ion-list>
</ion-content>
